<main
  class="container mt-20 md:mt-40 lg:grid lg:place-content-center lg:h-screen lg:mt-0"
>
  <div class="rounded-lg shadow-lg max-w-[650px] mx-auto">
    <div class="bg-white p-6 md:p-10">
      <!-- join community -->
      <h2 class="text-cyan">Join our community</h2>

      <p class="text-bright-yellow drop-shadow-md mt-3 md:mt-5">
        30-day, hassle-free money back guarantee
      </p>

      <p class="text-grayish-blue mt-3 md:leading-7 md:mt-2">
        Gain access to our full library of tutorials along with expert code
        reviews. Perfect for any developers who are serious about honing their
        skills.
      </p>
    </div>
    <!-- end join community -->

    <div class="grid md:grid-cols-2">
      <!-- monthly subscription -->
      <div class="bg-cyan p-6 text-white md:p-10">
        <h2>Monthly Subscription</h2>

        <div class="flex gap-2 items-center mt-4">
          <strong class="text-3xl">&dollar;29</strong>

          <span class="text-light-gray">per month</span>
        </div>

        <p>Full access for less than <strong>&dollar;1</strong> a day</p>

        <a href="#" class="btn btn-primary block mt-8">Sign Up</a>
      </div>
      <!-- end monthly subscription -->

      <!-- why us -->
      <div class="p-6 bg-cyan/80 text-white md:p-10">
        <h2>Why Us</h2>

        <p class="text-sm text-light-gray mt-4 max-w-[150px] md:max-w-[200px]">
          Tutorials by industry experts Peer &amp; expert code review Coding
          exercises Access to our GitHub repos Community forum Flashcard decks
          New videos every week
        </p>
      </div>
      <!-- end why us -->
    </div>
  </div>
</main>

<lbk-author
  class="block mt-32 lg:fixed lg:w-full lg:bottom-0 lg:left-0"
></lbk-author>
